table, th, td {
    border: 1px solid black

}

body{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-cartoon-money-illustrations_23-2150909257.jpg")
    

}

table {
    background-color: aliceblue;
}